.Section1 {
    background-image: url('./Images/EduHub.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-top: 10%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.navbutton {
    float: right;
    clear: right;

    border: none;
    background-color: rgb(0, 0, 0, 0);
    margin-right: 3%;
    margin-top: 1%;
    padding-bottom: 0.5%;

    color: aliceblue;
}

.navbutton p {
    font-size: 1.2em;
    font-weight: 100;
}

.navbutton p .buttontext {
    color: aliceblue;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbutton:hover {
    border-bottom: solid;
    border-bottom-color: aliceblue;
}

.textcontainer {
    margin-left: 8%;
}

.title{
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;

    font-size: 3.8em;
    font-weight: 700;
    margin-bottom: 0.01em;
}

.bite {
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;

    font-size: 1em;
    margin-bottom: 13em;
    font-weight: 700;
}

.text1 {
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 1em;
}

.registerbutton {
    color: aliceblue;
    border: solid;
    margin-bottom: 3em;
    margin-top: 1em;
    background-color: rgb(0, 0, 0, 0);
    border-color: aliceblue;
    /*background-color: #3824cd;*/
    border-radius: 50px;
    width: 20%;
    height: 3em;

    margin-bottom: 10%;

    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    text-decoration: none;
}
.registerbutton:hover {
    background-color: aliceblue;
    color: #115a65;
}

.buttontext {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

.Section2 {
    display: grid;
    column-count: 2;
}

.SpanImage {
    grid-column-start: 1;
    display: flex;
    width: 160%;
    height: 100%;
}

.textcontainer1 {
    grid-column-start: 2;
    background-color: #115a65;
    text-align: center;
}

.AboutUstitle {
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;

    font-size: 2.0em;
    font-weight: 700;
    margin-bottom: 1em;
    padding-top: 10%;
}

.aboutus {
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;

    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.01em;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
}

.loginbutton {
    border: solid;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: rgb(0, 0, 0, 0);
    border-color: aliceblue/*#011e31*/;
    border-radius: 50px;
    width: 20%;
    height: 10%;

    margin-left: 2em;
}

.Section3 {
    padding-top: 5%;
    padding-bottom: 7.5%;

    background-color: aliceblue;
}

.textcontainer3 {
    text-align: center;
}

.title3 {
    font-family: 'Oxygen', sans-serif;
    color: rgb(38, 48, 48);
    font-weight: 200;

    font-size: 2.5em;
}

.subText {
    color: #115a65;
    font-family: 'Oxygen', sans-serif;
    margin-top: 2%;
}

.ImageSlides {
    display: grid;
    column-count: 3;
    column-gap: 2em;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
}

.slides {
    border-radius: 1em;
    overflow: hidden;
    margin: 0.5em;
    color: aliceblue;
    padding-bottom: 5%;
    background: #115a65;
    padding-top: 15%;
    padding-bottom: 15%;

    transition: 0.6s;
    transform: translate(0);
}

.slides::before {
    content: "";
    position: absolute;
    top: -75px;
    left: -45px;
    z-index: -1;
    background: aliceblue;
    border-radius: 50%;
    border-style: solid;
    border-color: #115a65;
    width: 50px;
    height: 50px;
    transition: 0.6s;
}

.slides:hover {
    color: rgb(38, 48, 48);
}

.slides:hover::before {
    transform: scale(30);
}

.slide1 {
    grid-column-start: 1;
}

.slide2 {
    grid-column-start: 2;
}

.slide3 {
    grid-column-start: 3;
}

.Activities {
    margin-left: 10%;
    margin-right: 10%;
}

.Activitytitle {
    font-family: 'Oxygen', sans-serif;
    font-weight: 200;
    margin-top: 5%;
    margin-bottom: 10%;
    /*color: rgb(38, 48, 48);*/
}

.activitiestext {
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    /*color: rgb(38, 48, 48);*/
}

.Section4 {
    background-color: aliceblue;
    height: 300%;
    padding-top: 5%;
}

.textcontainer4 {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.title4 {
    font-family: 'Oxygen', sans-serif;
    color: rgb(38, 48, 48);
    margin-top: 0px;
    margin-bottom: 5%;

    font-size: 2.5em;
    font-weight: 200;
}

.instructors {
    display: grid;
    column-count: 3;
    column-gap: 5%;
}

.instructor1 {
    grid-column-start: 1;
    background-image: url('./Images/Person2.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructor2 {
    grid-column-start: 2;
    background-image: url('./Images/Person1.jpeg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructor3 {
    grid-column-start: 3;
    background-image: url('./Images/Person3.jpeg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructor {
    text-align: right;
    border-bottom: solid;
    border-bottom-color: #115a65;
    border-bottom-width: 1em;
}

.instructorname {
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;
    padding: 0% 10% 2.5% 0%;

    margin-top: 20em;
}

.instructordetails {
    color: aliceblue;
    font-family: 'Oxygen', sans-serif;
    padding: 0% 5% 2% 5%;
}

.Section5 {
    background-color: aliceblue;
    padding-top: 5%;
    padding-bottom: 5%;
}

.textcontainer5 {
    margin: 5% 10% 0% 10%;

    display: grid;
    column-count: 2;

    box-shadow: rgba(0, 0, 0, 0.5) 4.95px 4.95px 5.6px;
}

.contactus {
    grid-column-start: 1;
    padding-top: 15%;
    height: 20em;
    padding-left: 15%;
}

.reachout {
    font-family: 'Oxygen', sans-serif;
    color: #115a65;
}

.contacttitle {
    font-family: 'Oxygen', sans-serif;
    color: #115a65;
    margin-top: 7%;
}

.contactinfo {
    font-family: 'Oxygen', sans-serif;
    color: rgb(38, 48, 48);
    margin-top: 5%;
}

.contactimage {
    grid-column-start: 2;
    width: 100%;
    height: 30em;
    display: flex;
    float:right
}

footer {
    position: relative;
    background-color: #115a65;
    height: 5em;
    width: 100%;
    text-align: center;
    justify-content: center;
    bottom: 0;
    margin: 0;
}

footer p {
    color: aliceblue;
    padding-top: 2.5%;
    font-family: 'Oxygen', sans-serif;
}