.body {
    margin-top: 5em;
}

.form {
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 4.95px 4.95px 5.6px;
}

.title {
    font-family: 'Oxygen', sans-serif;
    color: #115a65;
    margin-left: 7em;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

.module_name,
.module_link,
.course_name {
    margin-left: 5em;
    height: 3em;
    margin-bottom: 2em;
    border-color: #115a65;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 0.25em;
    padding-left: 1em;
    background-color: beige;
}

.course_name {
    width: 35%;
}

.module_element {
    display: grid;
    column-count: 2;
}

.module_name {
    grid-column-start: 1;
    width: 70%;
}

.module_link {
    grid-column-start: 2;
    width: 70%;
}

.add_module {
    margin-left: 5em;
    padding: 0.5em 1em;
}

.submit {
    padding: 0.75em 3em;
    margin-left: 20em;
    margin-top: 2em;
}

.add_module,
.submit {
    background-color: #115a65;
    color: beige;
    border: none;
}

.back {
    float: left;
    z-index: 4;
    position: absolute;
    left: 1em;
    top: 0.5em;
    background-color: transparent;
    color: #115a65;

    font-family: 'Oxygen', sans-serif;
}